<footer class="footer">
    <div class="cont">
        <div class="roww">
            <div class="foter-coll">
                <h4 class="foter-coll-h4">Empresa</h4>
                <ul>
                    <li><a href="#">sobre nos</a></li>
                    <li><a href="#">O que é</a></li>
                    <li><a href="#">Privacidade</a></li>
                    <li><a href="#">ajuda</a></li>
                </ul>
            </div>
            <div class="foter-coll">
                <h4 class="foter-coll-h4">Educação</h4>
                <ul>
                    <li><a href="#">Professor</a></li>
                    <li><a href="#">Escola</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Abobrinha</a></li>
                </ul>
            </div>
            <div class="foter-coll">
                <h4 class="foter-coll-h4">Nos siga!!!</h4>
                <nav>
                    <a href="#"><i class="fa fa-solid fa-heart"></i></a>
                    <a href="#"><i class="fa fa-solid fa-users"></i></a>
                    <a href="#"><i class="fa fa-solid fa-envelope"></i></a>
                    <a href="#"><i class="fa fa-regular fa-star"></i></a>
                </nav>
            </div>
        </div>
    </div>
    <p class="footer-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, officia!</p>
</footer>
</body>
</html>