
    <!--==============================CABEÇALHO======================================-->
   <%- include('./partials/header.ejs') %>

    <!--==============================CONTEUDO DO SITE======================================-->
    <main class="container">

        <div class="intro">
            <img src="https://www.gesplan.com.br/hs-fs/hubfs/2-4%20cpm_1-2.png?width=500&height=388&name=2-4%20cpm_1-2.png" alt="png carinha do money">
            <section class="intro-textt">
                <h1 >Faça o seu orçamento</h1>
                <h2>Rapido e pratico</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci maiores ipsum magnam delectus.</p>
            </section>
        </div>


        <!--==============================cards======================================-->
        <div class="cards">
            <section class="cards-global">

                <a href="#" class="cards-global-a">

                    <i class="figu fa fa-solid fa-calculator figu"></i>
                    <h3 class="h3-cards pp">Gerenciador Financeiro</h3>
                    <p class="p-cards pp">Lorem ipsum dol expedita. Officia aperiaunt!</p>
                </a>

                <a href="#" class="cards-global-a">

                    <i class="figu fa fa-regular fa-address-card figu"></i>
                    <h3 class="h3-cards pp">Sua conta</h3>
                    <p class="p-cards pp">Lorem ipsum dol expedita. Officia aperiaunt!</p>
                </a>

                <a href="#" class="cards-global-a">

                    <i class="figu fa fa-regular fa-address-book figu"></i>
                    <h3 class="h3-cards pp">Contatos</h3>
                    <p class="p-cards pp">Lorem ipsum dol expedita. Officia aperiaunt!</p>
                </a>

                <a href="#" class="cards-global-a">

                    <i class="figu fa fa-solid fa-piggy-bank figu"></i>
                    <h3 class="h3-cards">Jogo do Bicho</h3>
                    <p class="p-cards pp">Lorem ipsum dol expedita. Officia aperiaunt!</p>
                </a>
            </section>
        </div>
        <div class="quadrado"></div>

        <div class="texto-slider">
            <h2 class="texto-slider-h2">EXPLORE!!!</h2>
            <p class="texto-slider-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores sapiente soluta a velit?</p>
        </div>

        <!--==============================SLIDER======================================-->
        <div class="slidershow middle">

            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">

                <div class="slide s1">
                    <img src="https://i0.wp.com/psicoativo.com/wp-content/uploads/2019/01/macaco_dinheiro.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="https://www.infomoney.com.br/wp-content/uploads/2019/06/macaco-de-gravata.jpg?fit=471%2C364&quality=70&strip=all" alt="">
                </div>
                <div class="slide">
                    <img src="https://2.bp.blogspot.com/-3GdMWaRN8Ws/VyI5G8IA4hI/AAAAAAAAC60/eqrofg6nwGQwe6nL3jqZ75H11jTASxQowCLcB/s1600/macaco-dinheiro.gif" alt="">
                </div>
                <div class="slide">
                    <img src="https://1.bp.blogspot.com/-qy7WhyfWTBc/XsHq0ooltzI/AAAAAAAAABo/EqLs88a_4JIx_BBi2wZsG8u1PbJWsC3AgCLcBGAsYHQ/s1600/20200517%2Bmacaco.jpg" alt="">
                </div>
            </div>

            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
                <label for="r4" class="bar"></label>
            </div>
        </div>


        <!--==============================ultimas section======================================-->
        <section class="last-sect">
            <div class="last-sect-content">
                <div class="last-sect-content-items">
                    <h2 class="last-sect-h2">Otimas soluçoes!</h2>
                    <h3 class="last-sect-h3">Sem bla bla bla</h3>
                    <p class="last-sect-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, aut harum maiores minus omnis, enim laboriosam eius fuga porro dolorem iusto dolorum. Error asperiores provident officia non hic, excepturi enim!</p>
                </div>
                <img class="last-sect-img" src="https://www.contacomigo.prevcom.com.br/Imagens/CONTACOMIGO_Alaor_calculadora2.png" alt="">
            </div>
        </section>

        <section class="sect-final">
            <div class="sect-final-cont">
                <hgroup>
                    <h3 class="sect-final-cont-h">VENHA NOS CONHECER!!!</h3>
                    <h4 class="sect-final-cont-h">...</h4>
                </hgroup>
                <p class="sect-final-cont-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facere provident eum cumque odio! Nemo accusantium tempora minima blanditiis nostrum nulla maxime beatae doloribus dicta veniam. Delectus provident beatae vitae?</p>
            </div>
        </section>
    </main>


    <!--==============================rodapé======================================-->
    <%- include('./partials/footer.ejs') %>