   <!--==============================CABEÇALHO======================================-->
   <%- include('./partials/header.ejs') %>

    <!--==============================CONTEUDO DO SITE======================================-->
    <main class="container">
      <h1>TIPOS</h1>
       
    </main>


    <!--==============================rodapé======================================-->
    <%- include('./partials/footer.ejs') %>